<div id="<%= dom_id embedding %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Document:</strong>
    <%= embedding.document_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Context:</strong>
    <%= embedding.context %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Embedding:</strong>
    <%= embedding.embedding %>
  </p>

</div>
